<h2>Recent News</h2>

{% assign postsList = site.posts | sort: "last_updated" | reverse %}

{% for post in postsList limit: 5 %}
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ post.cover }}" class="w-100">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ post.url }}">
              <b>{{ post.title }}</b>
            </a>
          </h5>
          <p class="card-text">{{ post.oneline_description }}</p>
          <p class="card-text">
            <small class="text-muted">Last updated on {{ post.last_updated }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<h4>
  <a href="/news">See all posts ></a>
</h4>

<p>
  <h3>
    <font color="red">We want you!</font>
  </h3>
  We are always looking for <b>self-motivated and determined talents</b>.
  Open positions are available at our
    <a href="/recruitment">Recruitment</a>
    page.
</p>
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=200&t=t&d=WfyXtjj2gqxYh_g3S_eTXHs6GwIduF9m-ZpyqPBCpNw'></script>
<br>

<div style="text-align: center;">
<i> Last Update: 26/07/2024 </i>
</div>