<h2>Contact Us</h2>
<p>
Hao Chen, Ph.D. <br>
Assistant Professor <br>
Department of Computer Science and Engineering (Home) <br>
Department of Chemical and Biological Engineering <br>
Division of Life Science <br>
The Hong Kong University of Science and Technology <br>
<br>
email: jhc (at) ust.hk <br>
<br>
Room 3524 (via lifts 25-26) <br>
Clear Water Bay, Kowloon, Hong Kong <br>
</p>

<p>
 <h3> Interested in joining the SMART lab at HKUST? </h3>
 We are always looking for motivated and talented people. <b>Open positions are listed on our <a href="{{ site.url }}/recruitment">Recruitment</a> page.</b><br>
 <br>
 We welcome applicants from <b>all</b> backgrounds.<br>

</p>


<h3> Lab News </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
