---
title: Members
layout: members
group: members
---

<h1>Smart Lab Members</h1>

{% for member in site.members %}

{% unless member.position == "Principal Investigator" %}
{% continue %}
{% endunless %}

<div class="row" id="{{member.name}}">
  <div class="col-md-4">
    <img class="img-fluid" src="{{member.image}}" alt="{{member.name}}'s Photo">
    <strong>{{member.name}}</strong>

  </div>
  <div class="col-md-8">
    {% if member.email %}
    <em>{{member.email}}</em> <br>
    {% endif %}
    {% if member.website %}
    <a style="overflow-wrap: break-word;" href="{{member.website}}">{{member.website}}</a> <br>
    {% endif %}
    {% if member.orcid %}
    <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
    <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
    {% endif %}
    {% if member.linkedin %}
    <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
    <a href="http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
    {% endif %}
    {% if member.HKUST %}
    <a href="http://www.hkust.edu.hk"><img class="inline-block mem-icon" src="/static/img/logo/hkust_logo.png"></a>
    <a href="https://facultyprofiles.hkust.edu.hk/profiles.php?profile={{member.HKUST}}"> Profile </a> <br>
    {% endif %}
    {% if member.scholar %}
    <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
    <a href="http://scholar.google.com/citations?user={{member.scholar}}"> Google Scholar </a> <br>
    {% endif %}
    {% if member.twitter %}
    <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
    <a href="http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
    {% endif %}
    {% if member.github %}
    <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
    <a href="http://github.com/{{member.github}}"> {{member.github}} </a> <br>
    {% endif %}
    {% if member.description %}
    {{member.description}} <br>
    {% endif %}
  </div>
</div>


{% endfor %}

{% assign delimiter = "," %}
{% assign position_str = "Postdoctoral Fellow,PhD Student,MPhil Student,Undergraduate Student,Research Assistant,Alumni"
%}
{% assign positions = position_str | split: delimiter %}

{% for position in positions%}
{% for member in site.members %}

{% unless member.position == position %}
{% continue %}
{% endunless %}

<hr>
<!-- The paddingtop and margin-top edits allow anchors to link properly. -->
<div id="{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
  <div class="col-sm-4">
    <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';"
      onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}" ; width="365" ; height="365">
    <br>
    <strong>{{member.name}}</strong> <br>

    {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
    {% if member.email %}
    <em>{{member.email}}</em> <br>
    {% endif %}
    {% if member.website %}
    <a style="overflow-wrap: break-word;" href="{{member.website}}">{{member.website}}</a> <br>
    {% endif %}
    {% if member.orcid %}
    <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
    <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
    {% endif %}
    {% if member.linkedin %}
    <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
    <a href="http://www.linkedin.com/in/{{member.linkedin}}"> LinkedIn </a> <br>
    {% endif %}
    {% if member.scholar %}
    <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
    <a href="http://scholar.google.com/citations?user={{member.scholar}}"> Google Scholar </a> <br>
    {% endif %}
    {% if member.twitter %}
    <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
    <a href="http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
    {% endif %}
    {% if member.github %}
    <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
    <a href="http://github.com/{{member.github}}"> {{member.github}} </a> <br>
    {% endif %}
  </div>
  <div class="col-sm-8">
    {{member.description | markdownify}}
  </div>
</div>

{% endfor %}
{% endfor %}