{% include header.html %}
<h1>Contact the SMART Lab</h1>
<div style="font-size: 1.5em;">
	<div class="row">
		<div class="col-1"><i class="fa-solid fa-location-crosshairs"></i></div>
		<div class="col-4">Room 3524 (via lifts 25-26),</div>
	</div>
	<div class="row">
		<div class="col-1"></i></div>
		<div class="col-10">The Hong Kong University of Science and Technology,</div>
	</div>
	<div class="row">
		<div class="col-1"></i></div>
		<div class="col-6">Clear Water Bay, Kowloon, Hong Kong</div>
	</div>
	<div class="row">
		<div class="col-1"><i class="fa-solid fa-envelope"></i></div>
		<div class="col-4">jhc (at) ust.hk</div>
	</div>
</div>

{{content}}

{% include footer.html %}